apiVersion: v1
kind: Config
users:
- name: <>
  user:
    token: <>
clusters:
- cluster:
    certificate-authority-data: <>
    server: <>
  name: <>
contexts:
- context:
    cluster: <>
    user: <>
  name: service-account-context
current-context: service-account-context
